@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Nunito&family=Work+Sans&display=swap');

.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 90px;
  z-index: 99;
}

.logo-container {
  width: 20%;
  position: relative;
  display: flex;
  align-items: center;
}

img.logo {
  height: 110px;
}

.logo-name {
  position: absolute;
  left: 110px;
  display: flex;
  flex-direction: column;
}

span.logo-title {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Nnunito', sans-serif;
  background: linear-gradient(90deg, rgba(40,160,218,1) 0%, rgba(44,66,145,1) 56%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar-links {
  display: flex;
  width: 40%;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-links a {
  font-size: 18px;
  font-family: 'Work Sans';
  color: #383838;
  font-weight: bold;
  text-decoration-line: none;
}

.navbar-links a:hover {
  color: black;
}

.user-account {
  width: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

img.notification-icon {
  height: 25px;
}

.user-picture {
  /* background: red; */
  background: rgba(255, 255, 255, 0.21);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.61);
  /* border: 1px solid black; */
  border-radius: 50%;
  padding: 3px;
}

img.picture {
  height: 40px;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1 {
  margin-top: unset;
}

.homepage {
  height: 100vh;
  width: 100%;
  animation-name: backgroundChanger;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#homepage-search {
  padding-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.book-flight-form {
  height: 550px;
  width: 360px;
  margin-right: 150px;
  background: rgb(255 255 255);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.form-content {
  width: 80%;
  height: 300px;
  border: 0.5px solid #cbcbc6;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

@keyframes backgroundChanger {
  0% {
    background-image: url('/public/homepage-background-1.jpg');
  }

  50% {
    background-image: url('/public/homepage-background-4.jpg');
  }

  100% {
    background-image: url('/public/homepage-background-5.jpg');
  }
}

.book-flight-form {
  font-family: 'Permanet Marker', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-tiile {
  height: 30%;
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
}

.from-to {
  height: 25%;
  display: flex;
  border-bottom: 0.5px solid #cbcbc6;
}

.from {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px 0 20px 22px;
  border-right: 0.5px solid #cbcbc6;
}

.from label {
  font-size: 16px;
  margin-bottom: 11px;
  color: #ababab;
  font-weight: bold;
}

.from input {
  font-size: 20px;
  width: 75%;
  border: none;
  font-weight: bold;
}

.to {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px 0 20px 22px;
}

.to label {
  font-size: 16px;
  margin-bottom: 11px;
  color: #ababab;
  font-weight: bold;
}

.to input {
  font-size: 20px;
  width: 75%;
  border: none;
  font-weight: bold;
}

.form-date {
  height: 25%;
  display: flex;
  border-bottom: 0.5px solid #cbcbc6;
}

.calendar {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
  background: #ffffff;
  border: 1px solid #585858;
  height: fit-content;
  width: 250px;
  position: absolute;
  top: 80px;
}

.calendar span {
  padding: 10px 0 10px 10px;
}

.calendar.active {
  visibility: visible;
  opacity: 1;
}


.date-from-to {
  display: flex;
}

.date-to {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px 0 20px 22px;
  border-right: 0.5px solid #cbcbc6;
}

.date-from {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px 0 20px 22px;
  border-right: 0.5px solid #cbcbc6;
}

.date-from label {
  font-size: 16px;
  margin-bottom: 11px;
  color: #ababab;
  font-weight: bold;
}

span.day-from {
  font-size: 18px;
  /* width: 75%; */
  border: none;
  font-weight: bold;
}

span.day-to {
  font-size: 18px;
  /* width: 75%; */
  border: none;
  font-weight: bold;
}

input.day-from {
  font-size: 20px;
  width: 75%;
  border: none;
  font-weight: bold;
}

.date-to label {
  font-size: 16px;
  margin-bottom: 11px;
  color: #ababab;
  font-weight: bold;
}

input.day-to {
  font-size: 20px;
  width: 75%;
  border: none;
  font-weight: bold;
}

.form-passenger {
  height: 33%;
  display: flex;
  border-bottom: 0.5px solid #cbcbc6;
}

.adult-passenger {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px 0 20px 22px;
  border-right: 0.5px solid #cbcbc6;
}

label.adult-title {
  font-size: 16px;
  margin-bottom: 11px;
  color: #ababab;
  font-weight: bold;
}

.adult-nb {
  display: flex;
  height: 50px;
  width: 50%;
  font-size: 22px;
  font-weight: 900;
  justify-content: space-around;
  align-items: center;
}

.children-passenger {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px 0 20px 22px;
}

label.children-title {
  font-size: 16px;
  margin-bottom: 11px;
  color: #ababab;
  font-weight: bold;
}

.children-nb {
  display: flex;
  height: 50px;
  width: 50%;
  font-size: 22px;
  font-weight: 900;
  justify-content: space-around;
  align-items: center;
}

.increment-decrement {
  display: flex;
  flex-direction: column;
}

.increment-decrement button {
  margin: 4px;
  font-weight: bold;
  background: transparent;
  border: 1px solid #939191;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.increment-decrement button:hover {
  cursor: pointer;
  background: #95939345;
}

button.search-flights {
  width: 100%;
  text-align: center;
  height: 50px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: none;
  background: #0480ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
}

button.search-flights:hover {
  cursor: pointer;
  background: #015fbff5;
}

.popular-flight {
  display: flex;
  width: 100%;
  margin-top: 20px;
  border-top: 0.5px dotted black;
  flex-direction: column;
  align-items: center;
}

.popular-flight-content {
  width: 100%;
}

h4.popular-title {
  font-family: 'Work Sans', sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
}

.popular-flight-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flight-infos {
  width: 100%;
}

.popular-flight-info img {
  height: 100px;
}

.flight-location-price {
  display: flex;
  flex-direction: column;
}

span.city {
  font-size: 20px;
  font-weight: bold;
}

span.price {
  font-size: 16px;
  font-weight: bold;
  color: #9b9b9b;
  margin-top: 5px;
}

span.book-flight-link {
  background: #0f7efb;
  display: flex;
  align-items: center;
  padding: 10px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 20px;
}

span.book-flight-link:hover {
  cursor: pointer;
  background: #0c65c1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
